
- var errorClass = "", errorMessage = "";
- if ('undefined' !== typeof errors && errors.length)
  - errorClass = "error";
  - errorMessage = errors[0].message;

.container

  //
    .row
      .span4.offset4(style="text-align: center;")
        div(style="margin-bottom: 28px; text-align: center;")
          img(src="/images/logo.png", border="0", alt="Favoritize Logo")

  .row
    .span4.offset4
      #login
        .wrapper

          #logo
            img(src="/images/logo.png", border="0", alt="Favoritize Logo")

          - if ('' !== errorClass)
            .alert.alert-error
              //-a.close(data-dismiss="alert") x
              strong Oh snap!&nbsp;
              | Error found while trying to authenticate user.

          form(action="/login", method='POST')
            fieldset
              div
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#email(name=everyauth.password.loginFormFieldName, type="text", placeholder="Email", value="root")
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#password(name=everyauth.password.passwordFormFieldName, type="password", placeholder="Password", value="secret")
            .submit
              button.btn.btn-primary(type="submit", onclick="$(this).hide();") Sign In

          div
            a.disabled(href="#") Forgot your password?
            | &nbsp;·&nbsp;Need an account?
            a(href="/signup") Sign up
