
html, body
  background: url(/images/groovepaper.png) center top repeat;

.container
  margin-top: 28px;

#login
  padding: 19px;
  background-color: rgba(255, 255, 255, 0.50);
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px #bbb;
  -moz-box-shadow: 0 1px 6px #bbb;
  box-shadow: 0 1px 6px #bbb;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  text-align: center;

  #logo
    margin-bottom: 18px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 18px;

  .alert
    padding: 8px;

  form
    // margin-bottom: 0;
    input
      // margin: 0;
      width: 100%;
    .submit
      margin-top: 9px;
      height: 37px;
      background-image: url(/images/spinner.gif);
      background-position: center;
      background-repeat: no-repeat;

/*

html, body, #wrapper
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

#wrapper td
  vertical-align: middle;
  text-align: center;

#wrapper td img
  padding-bottom: 36px;

*/
