body
  background url(/images/groovepaper.png) center top repeat

/** Login / Signup **/

#login, #signup
  .container
    padding 18px 0
  #box
    visibility hidden // prevent reflow
    padding 18px
    background-color rgba(255, 255, 255, 0.80)
    border 1px solid #EEE
    /* border 1px solid rgba(0, 0, 0, 0.15)
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px */
    -webkit-box-shadow 0 1px 6px #bbb
    -moz-box-shadow 0 1px 6px #bbb
    box-shadow 0 1px 6px #bbb
    /* border-bottom 1px solid rgba(0, 0, 0, 0.18) */
    text-align center
    #header_ct
      border-bottom 1px solid #EEE
      margin-bottom 18px
      padding-bottom 18px
      #logo
        background-image url(/images/logo.png)
        background-position center
        background-repeat no-repeat
        width 188px
        height 60px
        display block
        margin 0 auto
    .alert
      padding 8px
    form
      fieldset > div
        margin-left 10px
      input
        width 100%
        margin-left -10px
      .submit
        margin-top 9px
        height 28px
        background-image url(/images/spinner.gif)
        background-position center
        background-repeat no-repeat

/** Home **/

#home
  .container
    // margin 0
  #box
    // border 1px solid #DDD
    background-color rgba(255, 255, 255, 0.80)
    border-left 1px solid #EEE
    border-right 1px solid #EEE
    padding 18px
    .nav-tabs, .nav-pills
      padding 0 18px
    header
      padding-bottom 40px
      #header_ct
        padding  18px 0
        #logo
          background-image url(/images/logo.home.png)
          background-position center
          background-repeat no-repeat
          width 282px
          height 90px
          display block
          margin 0 auto
    footer
      // margin-top 300px
      border-top 1px solid #DDD
      padding-top 18px
      text-align left
      p
        margin-bottom 0
        color #555

    .tabbable

      .tab-content

      #search
        // text-align center

        input
          margin-bottom 18px
        input
          width 100%
          margin-left -10px
          height: 25px;
          //  font-size: 18px;
          font-size: 18px;
          line-height: 23px;
        .area
          height 37px
          background-image url(/images/spinner.gif)
          background-position center
          background-repeat no-repeat
          margin-bottom 18px
      #search-result
        text-align left
        display none
        ol
          margin-bottom 0
          padding-bottom 18px

      .dropdown-menu
        left auto
        right 2px
        text-align left

      /*

      .dropdown-menu
        margin-top 1px
        -webkit-border-radius 4px
        -moz-border-radius 4px
        border-radius 4px

      .dropdown-menu:before
        content ''
        display inline-block
        border-left 7px solid transparent
        border-right 7px solid transparent
        border-bottom 7px solid #ccc
        border-bottom-color rgba(0, 0, 0, 0.2)
        position absolute
        top -7px
        right 9px

      .dropdown-menu:after
        content ''
        display inline-block
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-bottom 6px solid #ffffff
        position absolute
        top -6px
        right 10px

      */

/** High density rules **/

/* only screen and (-o-min-device-pixel-ratio: 3/2), */

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5)

  body
    background-size 200px 200px

  #login, #signup
    #box
      #header_ct
        #logo
          background-image url(/images/logo@x1.5.png)
          -webkit-background-size 188px 60px
      form
        .submit
          background-image url(/images/spinner@x1.5.gif)
          background-size 16px 16px

  #home
    #box
      header
        #header_ct
          #logo
            background-image url(/images/logo.home@x1.5.png)
            -webkit-background-size 282px 90px
      .tabbable
        #search
          .area
            background-image url(/images/spinner@x1.5.gif)
            background-size 16px 16px

/* only screen and (-o-min-device-pixel-ratio: 2\/1), */

@media only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2)

  body
    background-size 150px 150px

  #login, #signup
    #box
      #header_ct
        #logo
          background-image url(/images/logo@x2.png)
          -webkit-background-size 188px 60px
      form
        .submit
          background-image url(/images/spinner@x2.gif)
          background-size 16px 16px

  #home
    #box
      header
        #header_ct
          #logo
            background-image url(/images/logo.home@x2.png)
            -webkit-background-size 282px 90px
      .tabbable
        #search
          .area
            background-image url(/images/spinner@x2.gif)
            background-size 16px 16px
